@{
	ViewData["Title"] = "About Upsilon Gamma";
}
<h1>@ViewData["Title"]</h1>

<p>Tke at University of Minnesota duluth was founded on March 22, 1999, and chaptered on March 19, 2021. It is a social fraternity build 
	on the principles of love, charity, and esteem. Our motto is, "Better men for a better world," and we seek to live by these principles
	daily.
</p>
<p>
	Our chapter is a member of the Tau Kappa Epsilon International Fraternity, which was founded on January 10, 1899, at Illinois Wesleyan University.
	TKE is the largest social fraternity in the world with over 290,000 members and 250 active chapters. The fraternity is headquartered in Indianapolis, Indiana.
</p>
<p>
	Our chapter has a long history of support for St. Jude Children's research hospital, and we have raised over $500,000 dollars since 2017 for the charity.
	We also support the local community through various service projects and events. We are always looking for new members who share our values and want to make a difference in the world.
</p>
