@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Members" class="btn btn-primary">View Members</a>
    <a asp-controller="Home" asp-action="CreateEditMember" class="btn btn-secondary">Create Member</a>

</div>
